body {
  background: linear-gradient(45deg, #e62727, #393ce6);
  font-family: Arial, sans-serif;
  /* background-color: #9b3e3e; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 400px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the content within the container */
}

h1 {
  color: #333;
  margin-top: 20px;
}

h2, h3 {
  color: #555;
}

/* Изображение экрана */
.screen {
  background-color: #c25a2a;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}
table {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
}

th {
  transition: background-color 0.3s ease;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

td:hover {
  background-color: #d1d1d1;
}

.row-label {
  font-weight: bold;
  margin-right: 10px;
}

/* Дополнительные стили для разных зон */
td.vip {
  background-color: #ebbf2f;
}

td.standard {
  background-color: #2ecc71;
}

td, th {
  padding: 10px;
}

table {
  border: 2px solid #333;
  border-radius: 8px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}
